.landing {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/pikadou.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  }

  
  .button {
    padding: 10px 15px;
    border: unset;
    border-radius: 10px;
    color: #e8e8e8;
    z-index: 1;
    background: rgb(43, 43, 43);
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    width: 1em;
    

    position: absolute;
    top: 10%;
    transform: translate(-50%,-50%);
    width: 6em;
    outline: none;
    backdrop-filter: blur(1px);
    cursor: pointer;
  }

  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #e8e8e8;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
    transition: all 250ms
   }  
  
   .button:hover {
    color: #212121;
  }
  
  .buttonn:hover::before {
    width: 100%;
  }