.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333035;
    padding: 10px;
  }
  
  .navLink {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
  }